<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1>Restaurant Softsur</h1>
      </div>
      <div class="col-lg-9 right">
        <div class="main-nav pull-right">
          <ul class="list-inline">
            <li><a [routerLink]="['/']">Inicio</a></li>
            <li class="divider">/</li>
            <li><a [routerLink]="['/menu']">Menu</a></li>
            <li class="divider">/</li>
            <li><a [routerLink]="['/nosotros']">Nosotros</a></li>
            <li class="divider">/</li>
            <li><a [routerLink]="['/contact']">Contacto</a></li>
            <li><button type="button" class="btn btn-default" data-toggle="modal" data-target="#reservation-modal">Reservaciones</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- reservation modal //-->
<div class="modal fade" id="reservation-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Libro de reserva</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Escriba su nombre">
          </div>
          <div class="form-group">
            <label>Fecha</label>
            <input type="text" class="form-control" placeholder="Ingrese la fecha">
          </div>
          <div class="form-group">
            <label>invitado</label>
            <input type="text" class="form-control" placeholder="Ingrese el numero de invitados">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
