<div class="container">
  <div class="public-banner">
    <div class="row">
      <div class="col-lg-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2791.9591476735304!2d-72.05577368453618!3d-45.59136597910281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbdf2c48afdd82879%3A0x24d71870678e534f!2sServicios+Inform%C3%A1ticos+Softsur+Ingenier%C3%ADa+Ltda!5e0!3m2!1ses-419!2scl!4v1493696933431"
          width="1170" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!-- about //-->
  <div class="page-body">
    <div class="row text-center">
      <div class="col-lg-4">
        <h3>Horas</h3>
        <p>Abierto todos los días</p>
      </div>
      <div class="col-lg-4">
        <h3>Ubicación</h3>
        <p>
          Coyhaique<br /> Patagonia Chilena<br /> Región de Aysén
        </p>
      </div>
      <div class="col-lg-4">
        <h3>Reservaciones</h3>
        <p>Para reservar, por favor llame al 972819698.</p>
      </div>
    </div>
  </div>
</div>
