<div class="home-food">
  <div class="row">
    <div class="col-lg-3">
      <a href="menu.html">
        <img src="http://www.publicdomainpictures.net/pictures/110000/velka/turkey-sandwich.jpg#.WQfTujwwOpc.link" width="250" height="250" alt="Food Feature 1" class="img-circle">
      </a>
      <h4>Sandwich</h4>
    </div>
    <div class="col-lg-3">
      <a href="menu.html">
        <img src="http://www.publicdomainpictures.net/pictures/160000/velka/ice-cream-1460616572mBT.jpg#.WQfUE4NqtsI.link" width="250" height="250" alt="Food Feature 2" class="img-circle">
      </a>
      <h4>Helado</h4>
    </div>
    <div class="col-lg-3">
      <a href="menu.html">
        <img src="http://www.publicdomainpictures.net/pictures/120000/velka/fresh-salad-1424954581cR8.jpg#.WQfUQkKb0_k.link" width="250" height="250" alt="Food Feature 3" class="img-circle">
      </a>
      <h4>Ensalada</h4>
    </div>
    <div class="col-lg-3">
      <a href="menu.html">
        <img src="http://www.publicdomainpictures.net/pictures/40000/velka/spring-coffee-time.jpg#.WQfUaxotbbA.link" width="250" height="250" alt="Food Feature 4" class="img-circle">
      </a>
      <h4>Cafe</h4>
    </div>
  </div></div>
